---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import { TextPrinter } from '../components/TextPrinter'
import { ImagePrinter } from '../components/ImagePrinter'
import { PrinterManager } from '../components/PrinterManager'
---

<Layout title="Thermal Printer POS-80 App">
	<div class="max-w-[1200px] mx-auto p-4 sm:p-6 lg:p-8">
		<Header />

		<PrinterManager client:load />

		<main class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
			<TextPrinter client:load />
			<ImagePrinter client:load />
		</main>
	</div>
</Layout>
